<%= render "shared/second-header" %>
<div class="user-contents">
  <div class="user-main-contents">
    <div class="main-user-contents">
      <h3 class="user-name">
        <%= "#{current_user.nickname}さんマイページ" %>
      </h3>
      <div class='user-goal-contents'>
        <h2 class='title'>グラフ</h2>
        <%= line_chart @weight.group(:day).sum(:weight) %>

      </div>
    </div>
  </div>
  
  <div class="user-side-contents">
    <div class="side-box">
      <ul>
        <li>
          <%= image_tag current_user.image.variant(resize: '100x100'), class: 'profile-user-image' if current_user.image.attached? %>
        </li>
        <li><a href="#">プロフィール編集</a></li>
        <li><%="ニックネーム : #{current_user.nickname}"%></li>
        <li><%="プロフィール : #{current_user.profile}"%></li>
        <li><%="誕生日 : #{current_user.birthday}"%></li>
        <%#= Date.current_user.birthday('%Y年 %m月 %d日') %>
      </ul>
    </div>

    <div class="side-box popular-posts">
      <h3>Category</h3>
      <ul>
        <li><a href="#">今日の数字を入力</a></li>
        <li><a href="#">新しく目標を立てる</a></li>
        <li><a href="#">カレンダー</a></li>
        <li><a href="#">グラフ</a></li>
        <li><a href="#">設定</a></li>
      </ul>
    </div>
  </div>
</div>
<%= render "shared/footer" %>