<header class='second-header'>
  <div class ='header-contents'>
    <%= link_to image_tag("health_logo.png", class:"health-icon"), "/" %>
    <div class='nav'>
      <ul class='second-lists-left'>
        <li><%= link_to 'ホーム', healths_path, class: "current home-list" %></li>
        <li><%= link_to '記事', "#", class: "article-list" %></li>
        <li><%= link_to 'レシピ', "#", class: "recipe-list" %></li>
        <li><%= link_to '食材', "#", class: "foodstaff-list" %></li>
        <li><%= link_to 'お知らせ', "#", class: "notice-list" %></li>
      </ul>
      <ul class='lists-right'>
      <% if user_signed_in? %>
        <li>
          <%= link_to users_show_path do %>
            <%= image_tag current_user.image.variant(resize: '50x50'), class: 'user-image' if current_user.image.attached? %>
          <%end%>
        </li>
        <li><%= link_to current_user.nickname, users_show_path, class: "user-nickname" %></li> 
        <li><%= link_to 'ログアウト',destroy_user_session_path, method: :delete, class: "logout" %></li> 
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
      </ul>
    </div>
  </div>
</header>