<%= render "shared/second-header" %>
<div class="weight-main">
  <%= form_with model: @weight, local: true do |f|%>
  <%= render 'shared/error_messages', model: f.object %>

    <div class="weight-date">
      <div class="weight-text">
        <span>日付</span>
        <span class="indispensable">必須</span>
      </div>
      <%= f.date_select :start_time %>
    </div>

    <div class="weight-data">
      <div class="weight-text">
        <span>体重</span>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :weight, class:"weight-input", id:"weight-input", placeholder:"例）55" %>
      <span class="weight-kg">kg</span>
    </div>


    <div class="submit">
      <%= f.submit "データ更新" ,class:"input-btn"%>
    </div>
  <% end %>
  <%= button_to '削除', weight_path, method: :delete, data: {confirm: "削除しますか？"} ,class: "weight-deleat-btn" %>
</div>
<%= render "shared/footer" %>